* {
  font-family: sans-serif;
}


#content,
#header,
#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
}

#header{
  top: 5vh;
  float: right;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}

#message {
  top: 60vh;
  width: 75%;
  color: rgb(245, 237, 237);
}

#content {
  width: 80%;
  height: 70%;
  padding-bottom: 30%;
  background-color: rgb(123, 44, 44);
  color: rgb(154, 32, 32);
  opacity: 0.5;
}

html, body{
  margin: 0px;
  padding: 0px;
  background: #fdc8f6;
}
.background{
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 0;
}