* {
  font-family: sans-serif;
}

#title {
  position:relative;
  left:0;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}

#content {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message {
  position: relative;
  left:calc(15px * 5vh)
  width: 75%;
  color: rgb(245, 237, 237);
  word-wrap: break-word;
}

#content {
  position: relative;
  top: 300px;
  width: 80%;
  height: 70%;
  
  background-color: #8c4f6f;
  color: #faedf4;
  opacity: .75;
}

html, body{
  margin: 0px;
  padding: 0px;
  background: #faedf4;
}
.background{
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 0;
}