* {
  font-family: sans-serif;
}

#title {
  position:relative;
  left:0;
  color: #8c4f6f;
  font-size: 4.5vh;
}

#content {
  position: relative;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message {
  position: relative;
  left:calc(15px * 5vh)
  width: 75%;
  color: rgb(245, 237, 237);
  background-color: #8c4f6f;
  word-wrap: break-word;
  font-size: 1.75vw;
}

#content {
  position: relative;
  width: 80%;
  height: 70%;
  color: #faedf4;
  opacity: .75;
}

#image {
  position: relative;
  max-width:25%;
  height:auto;
}

html, body{
  margin: 0px;
  padding: 0px;
  background: #faedf4;
}
.background{
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 0;
}